# Ignore the Python virtual environment folder
/venv/
__pycache__/

# Ignore environment variables file - VERY IMPORTANT for security
.env

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore Python bytecode files
*.pyc